
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center display-4 my-4">Xplorer</h1>

<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-3">
            <img class="img-fluid mx-auto d-block" src="~/Images/XplorerLoadingPage.png"/>
        </div>
        <div class="col-3">
            <img class="img-fluid mx-auto d-block" src="~/Images/XplorerLogInPage.png"/>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-6">
            <p>När appen startas så visas först en laddningskärm och sedan behöver användaren logga in. </p>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-3">
            <img class="img-fluid mx-auto d-block" src="~/Images/XplorerSettingsPage.png"/>
        </div>
        <div class="col-3">
            <img class="img-fluid mx-auto d-block" src="~/Images/XplorerMapPage.png"/>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-6">
            <p>När användaren har loggat in så kommer man till sidan med kartan. Den visar var användaren befinner sig i realtid på kartan och även dess koordinater, både i WGS och SWEREF.
                Från denna sida kan man gå in i inställningarna och välja vilka koordinater som visas och sparas till nästa gång användaren loggar in. Plustecknet är en knapp för att lägga till
                ett nytt inventeringsobjekt. 
            </p>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-3">
            <img class="img-fluid mx-auto d-block" src="~/Images/XplorerAddNewFieldsurveyPage.png"/>
        </div>
        <div class="col-3">
            <img class="img-fluid mx-auto d-block" src="~/Images/XplorerSelectCategoryList.png"/>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-6">
            <p>Objekten innehåller information om vad det är för typ av tjänst, område och typ med mera och varje användare har specifika listor kopplade till kontot.
                Användarens koordinater hämtas automatiskt och det finns även funktioner för att välja bild från mobilens bildgalleri, ta nya bilder med kameran och lägga till egna
                typer i listan.
            </p>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-3">
            <img class="img-fluid mx-auto d-block" src="~/Images/XplorerFieldsurveyObject.png"/>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-6">
            <p>Ett ifyllt objekt kan se ut som på bilden ovan. När man sparar så laddas objektet upp till webbportalen och användaren omdirigeras till kartsidan.
            </p>
        </div>
    </div>
</div>