@model FieldSurvey

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Fieldsurvey</h2>
            <hr />
        </div>
        <select asp-for="Service" class="form-select mb-3" aria-label="Välj tjänst">
            <option selected>Välj tjänst</option>
            <option>Felanmälan</option>
            <option>Besiktning</option>
            <option>Demo</option>
        </select>
        <select asp-for="Area" class="form-select mb-3" aria-label="Välj område">
            <option selected>Välj område</option>
            <option>Norrköping</option>
            <option>Söderköping</option>
            <option>Linköping</option>
        </select>
        <select asp-for="Category" class="form-select mb-3" aria-label="Välj typ">
            <option selected>Välj typ</option>
            <option>Skadat räcke</option>
            <option>Ojämn väg</option>
            <option>Saknad skylt</option>
            <option>Dålig vägmarkering</option>
        </select>
        <select asp-for="Status" class="form-select mb-3" aria-label="Välj status">
            <option selected>Välj status</option>
            <option>Ladda upp som ny</option>
            <option>Ladda upp som publicerad</option>
        </select>
        <div class="mb-3">
            <label asp-for="Photopath"></label>
            <input asp-for="Photopath" class="form-control" />
            <span asp-validation-for="Photopath" class="text-danger"></span>
        </div>
        <button onclick="PickImage()" class="btn btn-primary" style="width:150px">Välj bild</button>
        <div class="mb-3">
            <label asp-for="Comment"></label>
            <input asp-for="Comment" class="form-control" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Latitude"></label>
            <input asp-for="Latitude" class="form-control" disabled="true"/>
            <span asp-validation-for="Latitude" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Longitude"></label>
            <input asp-for="Longitude" class="form-control" disabled="true"/>
            <span asp-validation-for="Longitude" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="FieldSurvey" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}