@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-6">
            <h1 class="display-4 my-4">Välkommen</h1>
            <p>Den här webbapplikationen skapades för att repetera mina kunskaper om att utveckla webbapplikationer och träna på MVC.
                På sidan kommer det finnas information om mobilapplikationen som jag skapade under LIA 2, vad för sidor och funktioner den består av.
                En låtsas databas har även skapats i detta projekt som innehåller en tabell med objekt som efterliknar hur inventeringsobjekten såg ut i mobilapplikationen.
            </p>
        </div>
    </div>
</div>
