@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Den här webbapplikationen skapades för att repetera mina kunskaper om att utveckla webbapplikationer och träna på MVC.
        På sidan kommer det finnas information om mobilapplikationen som jag skapade under LIA 2, vad för sidor och funktioner den består av
        och kort om hur jag skrev koden för de olika delarna. En låtsas databas har även skapats i detta projekt som innehåller en tabell med objekt
        för hur inventeringsobjekten såg ut i mobilapplikationen.
    </p>
</div>
